
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.container {
    width: 100%;
    max-width: 700px;
    padding: 60px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

/* Grid-asettelu select-elementeille */
.unit-selects {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Kaksi select-elementtiä ja nuoli väliin */
    gap: 30px;
    align-items: center; /* Tasataan nuoli ja valikot keskelle */
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.hidden {
    display: none;
}

.arrow {
    font-size: 25px;
    color: #333;
    margin-top: 40px; /* Siirtää nuolta alaspäin */
}